	Elaborato.aux
	Elaborato.dvi
	Elaborato.log
	Elaborato.out
	Elaborato.ps
	Elaborato.toc
	listings/chapterFour/PALUmethod.m
	listings/chapterFour/QRmethod.m
	listings/chapterFour/normalizationEngine.m
	listings/chapterFour/triangularSystemSolver.m
